/* src/Carrossel.css */
.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carrossel img {
    max-width: 100%;
    height: auto;
  }
  
  .carrossel button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .carrossel button:hover {
    background-color: #0056b3;
  }
  